<div class="container mt-4" style="padding-top: 80px;">
<form [formGroup]="categoryForm">
  <h3 *ngIf="isEdit; else createTitle">Update Category</h3>
  <ng-template #createTitle>
    <h3>Create New Category</h3>
  </ng-template>

  <div class="form-group">
    <label for="exampleInputEmail1">Category</label>
    <input type="text" class="form-control" formControlName="categoryName">
  </div>

  <div *ngIf="isEdit; else createButton">
    <button class="btn btn-primary" (click)="update()" type="button">Update</button>
  </div>
  
  <ng-template #createButton>
    <button class="btn btn-success" (click)="create()" type="button">Create</button>
  </ng-template>
</form>
</div>

 

