
  <div class="d-flex flex-row gap-4 justify-content-sm-evenly flex-wrap " style="margin: 80px 0px 20px 0px;padding-bottom: 120px;">
    <div class="card" style="width: 300px;">
        <div class="container" style="width: 200px; height: 100px;margin-top: 20px;  background-color:whitesmoke;border: 1px solid gray; border-radius: 20px;display: flex; justify-content: center; align-items: center;">
            <a href="#" class="link-secondary text-center" style="text-decoration: none;">Artifact Archive</a>
        </div>
        <div class="card-body">
            <h5>Artifact Archive </h5>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <div class="container" style="width: 200px; height: 100px;margin-top: 20px;  background-color:whitesmoke;border: 1px solid gray; border-radius: 20px;display: flex; justify-content: center; align-items: center;">
            <a href="#" class="link-secondary" style="text-decoration: none;">Search Artifacts</a>
        </div>
        <div class="card-body">
            <h5>Search Artifacts</h5>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <div class="container" style="width: 200px; height: 100px;margin-top: 20px;  background-color:whitesmoke;border: 1px solid gray; border-radius: 20px;display: flex; justify-content: center; align-items: center;">
            <a href="#" class="link-secondary" style="text-decoration: none;">Location Map</a>
        </div>
        <div class="card-body">
            <h5>Location Map</h5>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <div class="container" style="width: 200px; height: 100px;margin-top: 20px;  background-color:whitesmoke;border: 1px solid gray; border-radius: 20px;display: flex; justify-content: center; align-items: center;">
            <a href="#" class="link-secondary" style="text-decoration: none;">View Excavation Sites</a>
        </div>
        <div class="card-body">
            <h5>View Excavation Sites</h5>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <div class="container" style="width: 200px; height: 100px;margin-top: 20px;  background-color:whitesmoke;border: 1px solid gray; border-radius: 20px;display: flex; justify-content: center; align-items: center;">
            <a href="#" class="link-secondary" style="text-decoration: none;">Dashboard</a>
        </div>
        <div class="card-body">
            <h5>Dashboard</h5>
        </div>
    </div>
    </div>




